@charset "utf-8";
/* CSS Document */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menu {
    left: -180px;
    z-index: 200;
  }

  .icon {
    content:url("./menuIcon.png");
    left: 0px;
    z-index: 200;
    position: fixed;
    top: 65px;
    background:  #2c3e50;
  }

  .toggle {
    left: 0px;
    z-index: 200;
  }

  .map {
    width: 100%;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .menu {
    left: -100px;
  }
  
  .map {
    width: 100%;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .menu {
    left: 0px;
  }
  
  .map {
    width: 80%;
  }
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    background-color: #2980b9;
  }

.map {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0px;
    top: 60px;
    
  }

  .menu {
    height: 87%;
    position: fixed;
    top: 60px;
    width: 20%;
    background-color: #2c3e50;
  }

  .menu li {
    color: #f39c12;
    font-weight: bold; 
  }

  .menu h2 {
    color: #f39c12;
  }

  .textfilter {
      width: 90%;
  }

  .img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 60%;
    max-height: 20%;
  }
  