@charset "utf-8";
/* CSS Document */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .map {
    width: 100%;
    padding-top: 10px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .map {
    width: 100%;
    padding-top: 10px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .map {
    width: 80%;
    padding: 0px;
  }
}

.header {
  width: 100%;
  text-align: center;
  background-color: #2980b9;
  margin: 0px;
  padding: 1px;
}

.map {
  right: 0;
  position: fixed;
  height: 100%;
}

.textfilter {
  width: 100%;
}

li {
  list-style-type: none;
  cursor: pointer;
}